@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body,
html {
    /* background-color: #f3f5f9; */
    background-image: url('../img/light-blue.jpg');
    /* background-image: url(img/light-blue.jpg); */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
}

.mySlides {
    display: none
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.mySlides1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}